
body {
    /*background-image: none/*url("../media/ugotthis.jpg"); */
    background-color: rgb(255, 255, 255);
    color: #111;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0.5;
    border-radius: 4px;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 2;
    font-size: 30px;
    font-family: inherit;
    text-align: center;
    margin: 10px; 
    padding: 4px;
  }
  button:active{
      transform:translateY(5px);
  }

textarea {
    outline: none; /* Removes the blue glow*/
  }

.center-both-axis {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    margin: 0 0 9px 0;
    font-size: 200%;
}

.controls {
    margin: 0 0 17px 0;
}

#new {
    color: #F0F7EE;
    background: #978897;
    padding: 8px;
}

#delete {
    color: #F0F7EE;
    background: #B18FCF;
    padding: 8px;
}

#draw {
    color: #F0F7EE;
    background: #E1BC29;
    padding: 8px;
}